<!DOCTYPE html>
<html>
	<head>
		<title>Mainstream - We all have our groups</title>
	</head>
	<body>
		<font size='6' color='black'><a href='/mainstream/' style='color: black;'>Mainstream</a> - Group</font><br>
		This is a private group. Go nuts.<br>
		<a href='/mainstream/'>Home</a><br><br>
		{% if group %}
			<strong>{{ group.name }}</strong><br>
			{% if streams %}
				{% for stream in streams %}
					<div style='background-color: #f0f0f0; margin-top: 5px;'>
						Topic: {{ stream.topic }}<br>
						Author: {{ stream.author }}<br>
					</div>
				{% endfor %}
			{% else %}
				There are no streams here.
			{% endif %}
		{% else %}
			This group does not exist!
		{% endif %}
	</body>
</html>